<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - RGS</title>

    <!-- Font Icon -->
    <link href="~/web/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />

    <!-- Main css -->
    <link href="~/web/css/style.css" rel="stylesheet" />
</head>
<body>

    <div class="main" style="padding:50px;">
        @RenderBody()
    </div>

    <!-- JS -->
    <script src="~/web/vendor/jquery/jquery.min.js"></script>
    <script src="~/web/js/main.js"></script>
</body>
</html>

